In [7]:
# a, b = map(int, input().split(' '))
a = int(input())
b = int(input())

# b % 10 == 5
# (b // 10) % 10 == 8
# ((b // 10) // 10) % 10 == 3 
class aaa:
    

    def double(self, a, b):
        self.bv = b
        for i in range(1, len(str(b))+1):
            self.br = self.bv % 10
            print(a*self.br)
            self.bv = self.bv //10
            print('-----')
        print(a*b)

A = aaa()
print(A.double(a, b))

123
456
738
-----
615
-----
492
-----
56088
None

In [3]:
#연습문제 파이썬 11_01 create
import pymysql

conn = None

try:
    conn = pymysql.connect(
    host='localhost', user='root', password='3318', db='python', charset='utf8')
    
    with conn.cursor() as cursor:
        sql = '''CREATE TABLE article(id INTEGER PRIMARY KEY AUTO_INCREMENT, title VARCHAR(30), content VARCHAR(30), writer VARCHAR(30), hit INT, c_date DATETIME)'''
        cursor.execute(sql)
        conn.commit()
       
    
except pymysql.InternalError as e :
    print('예외 발생',e)
finally:
    if conn: #conn의 값이 있다면~
        conn.close() #try 내에만 있어도 전역변수처럼 쓸 수 있지만, try 밖에서 정확히 conn을 선언하여 전역변수로 명시해주는게 좋음

예외 발생 (1050, "Table 'article' already exists")

In [ ]:
#SELECT fetchone
import pymysql

conn = None

try:
    conn = pymysql.connect(
    host='localhost', user='root', password='3318', db='python', charset='utf8')
    
    cursor = conn.cursor()
    sql = '''SELECT * FROM mysql'''
    cursor.execute(sql)
    result = cursor.fetchone() #한줄만 나옴
    print(result) #튜플 한개
    print(result[0]) #튜플의 첫번째 요소
    
    conn.commit()
    cursor.close()
    conn.close()
    
except pymysql.InternalError as e :
    print('예외 발생',e)

In [ ]:
#SELECT fetchmany
import pymysql

conn = None

try:
    conn = pymysql.connect(
    host='localhost', user='root', password='3318', db='python', charset='utf8')
    
    cursor = conn.cursor()
    sql = '''SELECT * FROM mysql'''
    cursor.execute(sql)
    result = cursor.fetchmany(2) #두줄까지만 나옴
    print(result) #튜플안에 튜플형태
    print(result[0]) #튜플형태
    print(result[0][1]) #튜플의 두번째 요소
    
    conn.commit()
    cursor.close()
    conn.close()
    
except pymysql.InternalError as e :
    print('예외 발생',e)

In [ ]:
#SELECT fetchall
import pymysql

conn = None

try:
    conn = pymysql.connect(
    host='localhost', user='root', password='3318', db='python', charset='utf8')
    
    cursor = conn.cursor()
    sql = '''SELECT * FROM mysql'''
    cursor.execute(sql)
    result = cursor.fetchall()
    print(result) #튜플안에 튜플형태
    print(result[0]) #튜플형태
    print(result[0][1]) #튜플의 두번째 요소
    
    conn.commit()
    cursor.close()
    conn.close()
    
except pymysql.InternalError as e :
    print('예외 발생',e)

In [ ]:
#delete
import pymysql

conn = None

try:
    conn = pymysql.connect(
    host='localhost', user='root', password='3318', db='python', charset='utf8')
    
    cursor = conn.cursor()
    sql = '''DELETE FROM mysql
             WHERE ID = %s'''
    cursor.execute(sql, (2)) #ID 2번 삭제
    conn.commit()
    cursor.close()
    conn.close()
    
except pymysql.InternalError as e :
    print('예외 발생',e)

In [ ]:
#update
import pymysql

conn = None

try:
    conn = pymysql.connect(
    host='localhost', user='root', password='3318', db='python', charset='utf8')
    
    cursor = conn.cursor()
    sql = '''UPDATE mysql SET TITLE = %s
             WHERE ID = %s'''
    cursor.execute(sql, ('제목수정됨', 1)) #ID 1번
    conn.commit()
    cursor.close()
    conn.close()
    
except pymysql.InternalError as e :
    print('예외 발생',e)

In [ ]:
#insert
import pymysql

conn = None

try:
    conn = pymysql.connect(
    host='localhost', user='root', password='3318', db='python', charset='utf8')
    
    cursor = conn.cursor()
    sql = '''INSERT INTO mysql(ID, TITLE, CONTENT)
             VALUES(NULL, %s, %s)'''
    cursor.execute(sql, ('제목A', '내용Z'))
    conn.commit()
    cursor.close()
    conn.close()
    
except pymysql.InternalError as e :
    print('예외 발생',e)

In [ ]:
#create
import pymysql

conn = None

try:
    conn = pymysql.connect(
    host='localhost', user='root', password='3318', db='python', charset='utf8')
    
    with conn.cursor() as cursor:
        sql = '''CREATE TABLE mysql(id INTEGER PRIMARY KEY AUTO_INCREMENT, title VARCHAR(100), content VARCHAR(100))'''
        cursor.execute(sql)
        conn.commit()
       
    
except pymysql.InternalError as e :
    print('예외 발생',e)
finally:
    if conn: #conn의 값이 있다면~
        conn.close() #try 내에만 있어도 전역변수처럼 쓸 수 있지만, try 밖에서 정확히 conn을 선언하여 전역변수로 명시해주는게 좋음