In [ ]:
from bs4 import BeautifulSoup
import urllib.parse
from urllib.request import Request, urlopen
from selenium import webdriver as wd
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.action_chains import ActionChains
import time




driver = wd.Chrome(executable_path='chromedriver.exe')
#driver = wd.PhantomJS(executable_path='/Users/DaeHyeon/PythonStudy/lecture/phantomjs') #동작들이 눈에 안보임 & 용량이 적음, 네이버가 헤더값막음
driver.get('https://www.glowpick.com/search/result?query=%EC%9D%B4%EB%8B%88%EC%8A%A4%ED%94%84%EB%A6%AC')
time.sleep(2)
emp = driver.find_element_by_css_selector('#gp-search > div > section.section-result.product > h3')
emp.click()
actions=ActionChains(driver)
last_height=driver.execute_script("return document.body.scrollHeight")
print(last_height)

In [ ]:
while(True):
    actions.send_keys(Keys.END).perform()
    time.sleep(1)
    driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")
# pNum=driver.find_element_by_css_selector('#gp-search > div > section.section-result.product > h3').text
# pNum=int(pNum[4:-1])
# for i in range(pNum):

In [1]:
from pymongo import MongoClient

In [2]:
client = MongoClient(host='localhost', port=27017)

In [3]:
db = client['test']

In [6]:
cursor = db.score.find()

In [7]:
for data in list(cursor):
    print(data['a'])

0.0
1.0
2.0
3.0
4.0
99.0

In [9]:
db.score.save( { 'a' : 5, 'exam' : 6 } )

C:\Users\mhs34\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: save is deprecated. Use insert_one or replace_one instead
  """Entry point for launching an IPython kernel.

ObjectId('5e2ff4319d00e50bfd306457')

In [10]:
cursor.rewind() #다시 감기
for data in list(cursor):
    print(data['a'])

0.0
1.0
2.0
3.0
4.0
99.0
5

In [11]:
db.score.update( { 'a' : 5 }, { '$set' : { 'exam' : 10 } } )

C:\Users\mhs34\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: update is deprecated. Use replace_one, update_one or update_many instead.
  """Entry point for launching an IPython kernel.

{'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}

In [12]:
cursor.rewind()
for data in list(cursor):
    print(data)

{'_id': ObjectId('5e2fd5cc7abb9b518384cfb3'), 'a': 0.0, 'exam': 5.0}
{'_id': ObjectId('5e2fd5cc7abb9b518384cfb4'), 'a': 1.0, 'exam': 5.0}
{'_id': ObjectId('5e2fd5cc7abb9b518384cfb5'), 'a': 2.0, 'exam': 5.0}
{'_id': ObjectId('5e2fd5cc7abb9b518384cfb6'), 'a': 3.0, 'exam': 5.0}
{'_id': ObjectId('5e2fd5cc7abb9b518384cfb7'), 'a': 4.0, 'exam': 5.0}
{'_id': ObjectId('5e2fd6e37abb9b518384cfb8'), 'a': 99.0}
{'_id': ObjectId('5e2ff4319d00e50bfd306457'), 'a': 5, 'exam': 10}

In [14]:
db.score.delete_one( { 'a' : 5 } )

In [15]:
cursor.rewind()
for data in list(cursor):
    print(data)

{'_id': ObjectId('5e2fd5cc7abb9b518384cfb3'), 'a': 0.0, 'exam': 5.0}
{'_id': ObjectId('5e2fd5cc7abb9b518384cfb4'), 'a': 1.0, 'exam': 5.0}
{'_id': ObjectId('5e2fd5cc7abb9b518384cfb5'), 'a': 2.0, 'exam': 5.0}
{'_id': ObjectId('5e2fd5cc7abb9b518384cfb6'), 'a': 3.0, 'exam': 5.0}
{'_id': ObjectId('5e2fd5cc7abb9b518384cfb7'), 'a': 4.0, 'exam': 5.0}
{'_id': ObjectId('5e2fd6e37abb9b518384cfb8'), 'a': 99.0}

In [45]:
import pymysql
def insert(sql, data):
    cursor.execute(sql, data)
conn = pymysql.connect(
    host='localhost', user='root', password='3318',
    db='python', charset='utf8')
cursor = conn.cursor(pymysql.cursors.DictCursor)

# sql = '''INSERT INTO ARTICLE
#          (ID, TITLE, CONTENT, WRITER, HIT, C_DATE)
#          VALUES (NULL, %s, %s, %s, 0, NOW())'''
# for i in range(1, 101):
#     insert(sql, ('제목' + str(i), '내용' + str(i), '파이썬'))
# conn.commit()
sql = '''SELECT *
         FROM ARTICLE
         ORDER BY ID DESC
         LIMIT %s, 5'''
insert(sql, 0)
result = cursor.fetchall()

for row in result:
    for col in row:
        print(row['%s' % col], end=' ') #dic 형태라서 각 키값대입후 밸류값 호출
    print()
conn.commit()
cursor.close()
conn.close()
# cursor로 부터 5개 조회
# 반복문을 이용하여 각 컬럼의 데이터 출력
# close

202 제목100 내용100 파이썬 0 2020-01-28 11:35:07
201 제목99 내용99 파이썬 0 2020-01-28 11:35:07
200 제목98 내용98 파이썬 0 2020-01-28 11:35:07
199 제목97 내용97 파이썬 0 2020-01-28 11:35:07
198 제목96 내용96 파이썬 0 2020-01-28 11:35:07

In [36]:
import pymysql
def insert(sql, data):
    cursor.execute(sql, data)
conn = pymysql.connect(
    host='localhost', user='root', password='3318',
    db='python', charset='utf8')
cursor = conn.cursor(pymysql.cursors.DictCursor)
# 데이터 100개 입력
# sql = '''INSERT INTO MEMBER
#          (NUM, NAME, EMAIL, C_DATE)
#          VALUES (NULL, %s, %s, NOW())'''
# for i in range(1, 101):
#     insert(sql, ('제목' + str(i), 'a@a.com'))
# conn.commit()
sql = '''SELECT *
         FROM MEMBER
         ORDER BY NUM DESC
         LIMIT %s, 5'''
insert(sql, 0)
result = cursor.fetchall()
print(result)
print(len(result))
for row in result:
    print(row)
conn.commit()
cursor.close()
conn.close()
# cursor로 부터 5개 조회
# 반복문을 이용하여 각 컬럼의 데이터 출력
# close

[{'num': 201, 'name': '제목100', 'email': 'a@a.com', 'c_date': datetime.datetime(2020, 1, 28, 11, 26, 33)}, {'num': 200, 'name': '제목99', 'email': 'a@a.com', 'c_date': datetime.datetime(2020, 1, 28, 11, 26, 33)}, {'num': 199, 'name': '제목98', 'email': 'a@a.com', 'c_date': datetime.datetime(2020, 1, 28, 11, 26, 33)}, {'num': 198, 'name': '제목97', 'email': 'a@a.com', 'c_date': datetime.datetime(2020, 1, 28, 11, 26, 33)}, {'num': 197, 'name': '제목96', 'email': 'a@a.com', 'c_date': datetime.datetime(2020, 1, 28, 11, 26, 33)}]
5
{'num': 201, 'name': '제목100', 'email': 'a@a.com', 'c_date': datetime.datetime(2020, 1, 28, 11, 26, 33)}
{'num': 200, 'name': '제목99', 'email': 'a@a.com', 'c_date': datetime.datetime(2020, 1, 28, 11, 26, 33)}
{'num': 199, 'name': '제목98', 'email': 'a@a.com', 'c_date': datetime.datetime(2020, 1, 28, 11, 26, 33)}
{'num': 198, 'name': '제목97', 'email': 'a@a.com', 'c_date': datetime.datetime(2020, 1, 28, 11, 26, 33)}
{'num': 197, 'name': '제목96', 'email': 'a@a.com', 'c_date': datetime.datetime(2020, 1, 28, 11, 26, 33)}

In [28]:
#SELECT fetchall
import pymysql

conn = None
page_num = int(input('원하는 페이지'))
end_num = page_num * 10
start_num = end_num - 9
try:
    conn = pymysql.connect(
    host='localhost', user='root', password='3318', db='exam', charset='utf8')
    
    cursor = conn.cursor(pymysql.cursors.DictCursor)
    sql = '''SELECT * FROM emp
             LIMIT %s, 10''' #%s번째 부터 10개 추출!
    cursor.execute(sql, (start_num - 1)) #mysql에서는 첫번째 번호가 0임
    result = cursor.fetchall()
    print(len(result))
    for row in result:
        print(row['EMPNO'], row['ENAME'])
    conn.commit()
    cursor.close()
    conn.close()
    
except pymysql.InternalError as e :
    print('예외 발생',e)

원하는 페이지1
1
7369 SMITH

In [19]:
#UPDATE article table
import pymysql

conn = None

try:
    conn = pymysql.connect(
    host='localhost', user='root', password='3318', db='python', charset='utf8')
    
    cursor = conn.cursor()
    sql = '''UPDATE article SET
             TITLE = %s, CONTENT = %s, HIT = %s 
             WHERE ID = %s'''
    cursor.execute(sql, ('제목수정', '내용수정', 100, 1)) #ID 1번
    conn.commit()
    cursor.close()
    conn.close()
    
except pymysql.InternalError as e :
    print('예외 발생',e)

In [16]:
#UPDATE member table
import pymysql

conn = None

try:
    conn = pymysql.connect(
    host='localhost', user='root', password='3318', db='python', charset='utf8')
    
    cursor = conn.cursor()
    sql = '''UPDATE member SET
             NAME = %s, EMAIL = %s 
             WHERE NUM = %s'''
    cursor.execute(sql, ('aa', 'aa@aa,com', 1)) #ID 1번
    conn.commit()
    cursor.close()
    conn.close()
    
except pymysql.InternalError as e :
    print('예외 발생',e)

In [17]:
#INSERT article table
import pymysql

conn = None

conn = pymysql.connect(
    host='localhost', user='root', password='3318',
    db='python', charset='utf8'
    )
cursor = conn.cursor()
sql = '''INSERT INTO article(ID, TITLE, CONTENT, WRITER, HIT, C_DATE)
             VALUES(NULL, %s, %s, %s, %s, now())''' 
cursor.execute(sql, ('제목', '내용', '파이썬', 0)) #now함수는 인자로 넣으면 오류가 남
conn.commit()
cursor.close()
conn.close()

In [10]:
#INSERT member table
import pymysql

conn = None

conn = pymysql.connect(
    host='localhost', user='root', password='3318',
    db='python', charset='utf8'
    )
cursor = conn.cursor()
sql = '''INSERT INTO member(NUM, NAME, EMAIL, C_DATE)
             VALUES(NULL, %s, %s, now())''' 
cursor.execute(sql, ('a', 'a@a.com')) #now함수는 인자로 넣으면 오류가 남
conn.commit()
cursor.close()
conn.close()

In [ ]:
#SELECT fetchone
import pymysql

conn = None

try:
    conn = pymysql.connect(
    host='localhost', user='root', password='3318', db='exam', charset='utf8')
    
    cursor = conn.cursor(pymysql.cursors.DictCursor)
    sql = '''SELECT year, area1, count(*) FROM accident
             GROUP BY area1, year'''
    cursor.execute(sql)
    result = cursor.fetchall()
    for row in result:
        print(row['area1'], row['year'], row['count(*)']) 
        
    conn.commit()
    cursor.close()
    conn.close()
    
except pymysql.InternalError as e :
    print('예외 발생',e)

In [3]:
#연습문제 파이썬 11_01 create
import pymysql

conn = None

try:
    conn = pymysql.connect(
    host='localhost', user='root', password='3318', db='python', charset='utf8')
    
    with conn.cursor() as cursor:
        sql = '''CREATE TABLE article(id INTEGER PRIMARY KEY AUTO_INCREMENT, title VARCHAR(30), content VARCHAR(30), writer VARCHAR(30), hit INT, c_date DATETIME)'''
        cursor.execute(sql)
        conn.commit()
       
    
except pymysql.InternalError as e :
    print('예외 발생',e)
finally:
    if conn: #conn의 값이 있다면~
        conn.close() #try 내에만 있어도 전역변수처럼 쓸 수 있지만, try 밖에서 정확히 conn을 선언하여 전역변수로 명시해주는게 좋음

예외 발생 (1050, "Table 'article' already exists")

In [ ]:
#SELECT fetchone
import pymysql

conn = None

try:
    conn = pymysql.connect(
    host='localhost', user='root', password='3318', db='python', charset='utf8')
    
    cursor = conn.cursor()
    sql = '''SELECT * FROM mysql'''
    cursor.execute(sql)
    result = cursor.fetchone() #한줄만 나옴
    print(result) #튜플 한개
    print(result[0]) #튜플의 첫번째 요소
    
    conn.commit()
    cursor.close()
    conn.close()
    
except pymysql.InternalError as e :
    print('예외 발생',e)

In [ ]:
#SELECT fetchmany
import pymysql

conn = None

try:
    conn = pymysql.connect(
    host='localhost', user='root', password='3318', db='python', charset='utf8')
    
    cursor = conn.cursor()
    sql = '''SELECT * FROM mysql'''
    cursor.execute(sql)
    result = cursor.fetchmany(2) #두줄까지만 나옴
    print(result) #튜플안에 튜플형태
    print(result[0]) #튜플형태
    print(result[0][1]) #튜플의 두번째 요소
    
    conn.commit()
    cursor.close()
    conn.close()
    
except pymysql.InternalError as e :
    print('예외 발생',e)

In [4]:
#SELECT fetchall
import pymysql

conn = None

try:
    conn = pymysql.connect(
    host='localhost', user='root', password='3318', db='python', charset='utf8')
    
    cursor = conn.cursor()
    sql = '''SELECT * FROM mysql'''
    cursor.execute(sql)
    result = cursor.fetchall()
    print(result) #튜플안에 튜플형태
    print(result[0]) #튜플형태
    print(result[0][1]) #튜플의 두번째 요소
    
    conn.commit()
    cursor.close()
    conn.close()
    
except pymysql.InternalError as e :
    print('예외 발생',e)

((1, '제목수정됨', '내용Z'), (3, '제목A', '내용Z'), (4, '제목A', '내용Z'), (5, '제목A', '내용Z'))
(1, '제목수정됨', '내용Z')
제목수정됨

In [ ]:
#delete
import pymysql

conn = None

try:
    conn = pymysql.connect(
    host='localhost', user='root', password='3318', db='python', charset='utf8')
    
    cursor = conn.cursor()
    sql = '''DELETE FROM mysql
             WHERE ID = %s'''
    cursor.execute(sql, (2)) #ID 2번 삭제
    conn.commit()
    cursor.close()
    conn.close()
    
except pymysql.InternalError as e :
    print('예외 발생',e)

In [ ]:
#update
import pymysql

conn = None

try:
    conn = pymysql.connect(
    host='localhost', user='root', password='3318', db='python', charset='utf8')
    
    cursor = conn.cursor()
    sql = '''UPDATE mysql SET TITLE = %s
             WHERE ID = %s'''
    cursor.execute(sql, ('제목수정됨', 1)) #ID 1번
    conn.commit()
    cursor.close()
    conn.close()
    
except pymysql.InternalError as e :
    print('예외 발생',e)

In [ ]:
#insert
import pymysql

conn = None

try:
    conn = pymysql.connect(
    host='localhost', user='root', password='3318', db='python', charset='utf8')
    
    cursor = conn.cursor()
    sql = '''INSERT INTO mysql(ID, TITLE, CONTENT)
             VALUES(NULL, %s, %s)'''
    cursor.execute(sql, ('제목A', '내용Z'))
    conn.commit()
    cursor.close()
    conn.close()
    
except pymysql.InternalError as e :
    print('예외 발생',e)

In [ ]:
#create
import pymysql

conn = None

try:
    conn = pymysql.connect(
    host='localhost', user='root', password='3318', db='python', charset='utf8')
    
    with conn.cursor() as cursor:
        sql = '''CREATE TABLE mysql(id INTEGER PRIMARY KEY AUTO_INCREMENT, title VARCHAR(100), content VARCHAR(100))'''
        cursor.execute(sql)
        conn.commit()
       
    
except pymysql.InternalError as e :
    print('예외 발생',e)
finally:
    if conn: #conn의 값이 있다면~
        conn.close() #try 내에만 있어도 전역변수처럼 쓸 수 있지만, try 밖에서 정확히 conn을 선언하여 전역변수로 명시해주는게 좋음